<div class="content">
    <h2>Log in!</h2>

    <form action="/auth/signup" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Log in</button>
        <a href="/auth/signup">Create an account</a>
    </form>
</div>