<div class="content">
    <h2>Sign up!</h2>

    {{#if errorMessage}}
        <div class="error-form">
            {{errorMessage}}
        </div>
    {{/if}}

    <form action="/auth/signup" method="post" class="col">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" minlength="4" required>
        <button type="submit">Sign up</button>
        <a href="/auth/login">Already one of us?</a>
    </form>
</div>