body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: column;
}

.content {
    width: 300px;
}

.error-form {
    margin-top: 0;
    background-color: tomato;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}